body {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e8f8ec; /* Light Green Background */
    color: #495057;
}

header {
    background-color: #28a745; /* Dark Green Header */
    color: white;
    text-align: center;
    padding: 40px;
    border-radius: 0 0 20px 20px;
}

h1 {
    margin: 0;
}

section {
    margin: 20px auto;
    max-width: 800px;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 10px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.contact-info {
    text-align: left;
    margin-bottom: 20px;
}

.contact-info p {
    margin: 10px 0;
}

form {
    text-align: left;
}

label {
    display: block;
    margin-top: 15px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #6c757d; /* Dark Gray Border */
    border-radius: 5px;
}

button {
    background-color: #28a745; /* Dark Green Button */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838; /* Slightly Darker Green on Hover */
}

a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    text-align: center;
    background-color: #28a745; /* Dark Green Link */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #218838; /* Slightly Darker Green on Hover */
}
